[submodule "evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
	shallow = true
[submodule "triedb-go"]
	path = triedb-go
	url = https://github.com/cffls/triedb-go.git
